
/*--------------------------------------------------------------
# bubble  mobile view 
--------------------------------------------------------------*/
@media (max-width: 767px){
    .bubble .bubble-1 {
    width: 100px;
    height: 100px;
    left: 40px;
    bottom: 10%;
}
}

@media (max-width: 440px){
.bubble .bubble-1 {
    display: none;
}}


@media (max-width: 767px){
    .bubble .bubble-2 {
        width: 60px;
    height: 60px;
}
}

@media (max-width: 440px){
.bubble .bubble-2 {
    display: none;
}}

/*--------------------------------------------------------------
# bubble  mobile view 
--------------------------------------------------------------*/


/* dots  mobile view  start*/

@media (max-width: 440px){
.dots .dot-2 {
        top: 75px;
    right: 15px;
    z-index: -1;
}}

/* dots  mobile view end */
